- unless user_signed_in?
  %h3
    = "Welcome!"
  %p
    Please log in or sign up to play!
- else
  %h3
    = "Welcome, #{current_user.name}"
  %p
    = link_to "Let's play!", material_url(@material)

  %h3
    = "All Games"
  %p
    = render 'games/games'
