= simple_form_for @material, :html => {:multipart => true} do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    - if @material.image.present?
      = image_tag @material.image_url(:thumb).to_s
    = f.file_field :image, :label => 'Image'
    = f.input :bin, :collection => Material::Bins::ALL
    = f.input :score

  .form-actions
    = f.button :submit
