%p#notice= notice

%p
  %b Name:
  = @material.name
%p
  %b Image:
  = @material.image
%p
  %b Bin:
  = @material.bin
%p
  %b Score:
  = @material.score

= link_to 'Edit', edit_material_path(@material)
\|
= link_to 'Back', materials_path
