%p#notice= notice

%p
  = image_tag @material.image_url(:thumb).to_s

.span8
  %table.table.table-condensed.bottom
    %thead
      %tr
        %th
          = link_to image_tag('recycle-cans-only.jpg'), material_path(@next_material)
        %th
          = link_to image_tag('recycle-glass-only.jpg'), material_path(@next_material)
        %th
          = link_to image_tag('recycle-plastic-only.jpg'), material_path(@next_material)
        %th
          = link_to image_tag('recycle-paper-only.jpg'), material_path(@next_material)
        %th
          = link_to image_tag('trash.png'), material_path(@next_material)
