%p#notice= notice

%div.photo
  = image_tag @material.image_url(:thumb).to_s
%div.description
  = "Sorry, try again.  #{@material.description}"

.span8
  %table.table.table-condensed.bottom
    %thead
      %tr
        - Material::Bins::ALL.each do |bin|
          - winner = (bin == @material.bin)
          - wrong_answer = winner ? '' : 'wrong'
          %th
            = link_to(image_tag("#{bin}.jpg"), @path, :class => wrong_answer, :remote => !winner, :"data-description" => @material.description)